html, body {
  height: 100%;
  margin: 0;
}

.full-height{
  height: 100%;
  background:#2C5871;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  padding: 40px;
  background: #191919;
  text-align: center;
  transition: 0.25s;
  border-radius:15px;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2C5871;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #3498db;
}

.box button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #FC611F;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box button[type="submit"]:hover {
  background:  #FC611F;
}

.forgot {
  text-decoration: underline
}

